.first__content{
    max-width: 1380px;
    height: 620px;
    margin: 0 auto;
}

.first__image{
    background: url('/public/assets/collection.png') center/cover no-repeat;
    width: 1300px;
    height: 620px;

    display: flex;
    align-items: end;
    justify-content: center;
}

.first__btnCollection{
    background-color: #ceac72;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}

.first__btnCollection:hover{
    background-color: #954d38;
    color: #fff;
    transform: scale(1.1);

}
