.thrid__content{
    height: 80vh;
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.thrid__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thrid__logo{
    width: 250px;
    height: 250px;
}
